body {
    background:radial-gradient(ellipse at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    background-repeat: no-repeat;
    background-size: contain, cover;
    height: 100vh;
    padding:0;
    margin:0;
  
}


h2, h1{
    font-family: 'Barlow Semi Condensed', sans-serif;
}

h1{
    color:#ffff;
}

p,li{
    color:white;
    text-decoration: none;
    list-style: none;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.main-content{
    display: flex;
    justify-content: center;
}

ul{
    padding:0 ;
}

.header-content{
    margin:0 auto;
    display: flex;
    border-radius: 5px;
}

.header-left{
    font-weight: 800;
}

.score-box{
    text-align: center;
    background-color: white;
    border-radius: 5px;

}

#tieBox{
    display: none;
}

#looseBox{
    display: none;
}

#victoryBox{
    display: none;
}

.score-box > p{
    color:hsl(229, 64%, 46%);
    padding:0;
    margin:0;
    font-weight: 800;
}



.outcomeBox > div > button{
    color:hsl(229, 25%, 31%);
}

#score{
    font-weight: 800;
    color:hsl(229, 25%, 31%);
}

.pickCircle{
    border-radius: 50%;
}

/* #pickPaper:hover{
    filter: brightness(75%);
} */




#pickPaper, #pickScissors, #pickRock, #pickSpock ,#pickLizzard , .userChoicePaper, .userChoiceRock, .userChoiceScissors{
    background-origin: border-box;
    background-clip: content-box, border-box;
}

#pickPaper{
    background-image: linear-gradient(white, white), linear-gradient(to right, hsl(230, 89%, 62%), hsl(230, 89%, 65%));

}

#pickScissors{
    background-image: linear-gradient(white, white), linear-gradient(to right,hsl(39, 89%, 49%) ,  hsl(40, 84%, 53%));

}

#pickRock{
    background-image: linear-gradient(white, white), linear-gradient(to right, hsl(349, 71%, 52%) , hsl(349, 70%, 56%));
    
}

#pickSpock{
    background-image: linear-gradient(white, white), linear-gradient(to right, hsl(170, 100%, 50%) , hsl(170, 96%, 51%));
    
}

#pickLizzard{
    background-image: linear-gradient(white, white), linear-gradient(to right, hsl(293, 100%, 50%) , hsl(308, 96%, 51%));

}

#pickBtn{
    position: relative;
    background-color: transparent;
    border:none;

}

#pickBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}



@keyframes changeBackgroundRock { 

    0%{
        background-image: linear-gradient(hsl(229, 25%, 31%), hsl(229, 25%, 31%)), linear-gradient(to right,hsl(229, 25%, 31%) ,  hsl(229, 25%, 31%));
        opacity: 50%;
    }

    100%{
        opacity: 100%;
        background-image: linear-gradient(white, white), linear-gradient(to right, hsl(349, 71%, 52%) , hsl(349, 70%, 56%));

    }
}


@keyframes changeBackgroundPaper { 

    0%{
        background-image: linear-gradient(hsl(229, 25%, 31%), hsl(229, 25%, 31%)), linear-gradient(to right,hsl(229, 25%, 31%) ,  hsl(229, 25%, 31%));
        opacity: 50%;

    }

    100%{
        opacity: 100%;
        background-image: linear-gradient(white, white), linear-gradient(to right, hsl(230, 89%, 62%), hsl(230, 89%, 65%));

    }
}


@keyframes changeBackgroundScissors { 

    0%{
        background-image: linear-gradient(hsl(229, 25%, 31%), hsl(229, 25%, 31%)), linear-gradient(to right,hsl(229, 25%, 31%) ,  hsl(229, 25%, 31%));
        opacity: 50%;

    }

    100%{
        opacity: 100%;
        background-image: linear-gradient(white, white), linear-gradient(to right,hsl(39, 89%, 49%) ,  hsl(40, 84%, 53%));

    }
}

@keyframes changeImgOpacity {
    0%{
        opacity: 0%;
    }

    100%{
        opacity: 100%;

    }
}

.userChoicePaper{
    background-image: linear-gradient(white, white), linear-gradient(to right, hsl(230, 89%, 62%), hsl(230, 89%, 65%));

}
.userChoiceRock{
    background-image: linear-gradient(white, white), linear-gradient(to right, hsl(349, 71%, 52%) , hsl(349, 70%, 56%));

}

.userChoiceScissors{
    background-image: linear-gradient(white, white), linear-gradient(to right,hsl(39, 89%, 49%) ,  hsl(40, 84%, 53%));

}

.compChoiceRock{
    opacity: 50%;
    background-image: linear-gradient(hsl(229, 25%, 31%), hsl(229, 25%, 31%)), linear-gradient(to right,hsl(229, 25%, 31%) ,  hsl(229, 25%, 31%));
    transition: background-image 1s ease; /* Smooth transition effect */
    animation: changeBackgroundRock 1.5s ease 1.5s forwards; /* Apply animation after a delay of 2 seconds */
}

.compChoicePaper{
    opacity: 50%;
    background-image: linear-gradient(hsl(229, 25%, 31%), hsl(229, 25%, 31%)), linear-gradient(to right,hsl(229, 25%, 31%) ,  hsl(229, 25%, 31%));
    transition: background-image 1s ease; /* Smooth transition effect */
    animation: changeBackgroundPaper 1.5s ease 1.5s forwards; /* Apply animation after a delay of 2 seconds */
}

.compChoiceScissors{
    opacity: 50%;
    background-image: linear-gradient(hsl(229, 25%, 31%), hsl(229, 25%, 31%)), linear-gradient(to right,hsl(229, 25%, 31%) ,  hsl(229, 25%, 31%));
    transition: background-image 1s ease; /* Smooth transition effect */
    animation: changeBackgroundScissors 1.5s ease 1.5s forwards; /* Apply animation after a delay of 2 seconds */
}

.compChoiceRock > img, .compChoicePaper > img, .compChoiceScissors > img{
    opacity: 0%;
    animation: changeImgOpacity 1s ease 2s forwards; /* Apply animation after a delay of 2 seconds */

}


.userChoiceRock, .userChoicePaper, .userChoiceScissors, .choiceBlank{
    display: inline-flex;
    align-items: center;
}

.pickCircle{
    background-color: darkblue;
}

#resultBox{
    display: none;
    position: relative;
}

#userChoicePaper, #userChoiceRock{
    display: none;
}

#compChoicePaper, #compChoiceRock, #compChoiceScissors{
    display: flex;
    flex-direction: column;
}

#rulesBtnContainer{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom:10vw;
    right: 0;
    left:0;
}

#rulesContainer{
    background-color: #ffff;
    display: none;
    flex-direction: column;
    position: fixed;
    z-index: 999;
}

.closeBtn {
    background-color: transparent;
    border: none;
    color:  hsl(217, 16%, 45%);
    cursor: pointer;
  }

  #displayChoicesBox{
    display: flex;
  }

  .pickcontainer{
    display: flex;

  }
  









/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 375px) {

    header {
      padding-top: 5vw;
      width: 75vw;
      margin: 0 auto;
      display: flex;
      justify-content: center;
    }
  
    .header-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1vw 3vw 1vw 5vw;
      border: solid white 0.5vw;
      height: auto;
      width: 100%;
    }
  
    .header-left > ul > li {
      line-height: 4vw;
      font-size: 4vw;
    }
  
    .score-box {
      width: 15vw;
      padding: 1.5vw;
    }
  
    .score-box > p {
      font-size: 3vw;
    }
  
    #score {
      font-size: 9vw;
      padding: 0;
      margin: 0;
    }
  
    #pickBox {
      margin: 30vw auto;
      flex-direction: row;
      justify-content: center;
    }
  
    .pentImg {
      width: 75vw;
      z-index: 0;
      position: absolute;
      left:0;
      right:0;
      margin:0 auto;
    }
  
    .pickCircle {
      width: 20vw;
      height: 20vw;
      z-index: 99;
    }
  
    #pickPaper,
    #pickScissors,
    #pickRock,
    #pickSpock,
    #pickLizzard {
      border: double 3.5vw transparent;
    }

    #pickPaper{
        margin-left:-15vw;
        margin-bottom:20vw;
    }

    #pickSpock{
        margin-right: -15vw;
        margin-bottom:20vw;
    }

    #pickLizzard, #pickRock{
        margin-top:65vw;
    }

    #pickLizzard{
        margin-right: -5vw;
    }

    #pickRock{
        margin-left: -5vw;
    }

    #pickScissors{
        margin-bottom:65vw;
    }
    

    
  
  
  
    #pickBtn {
      right: 2.5vw;
      bottom: 2.5vw;
      width: 30vw;
      height: 30vw;
    }
  
    .pickIcon {
      margin-right: 5vw;
      margin-bottom: 3vw;
      width: 9vw;
      height: auto;
    }
  
    .displayRockIcon {
      width: 15vw;
      height: 15vw;
      margin-top: 5vw;
    }
  
    .displayPaperIcon,
    .displayScissorsIcon {
      width: 15vw;
      height: 17vw;
      margin-top: 5vw;
    }
  
    .userChoicePaper,
    .userChoiceRock,
    .userChoiceScissors {
      border: double 3vw transparent;
      flex-direction: column;
    }
  
    .userChoiceScissors {
      border: double 3vw transparent;
    }
  
    #resultBox {
      flex-direction: column;
      width: 100vw;
      height: auto;
      top: 30vw;
      align-items: center;
    }

    #displayChoicesBox{
        flex-direction: row;
    }

    .outcomeBox{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin:0 auto;
        width: 100vw;
    }

    .outcomeBox > div > h1{
        font-size: 15vw;
        font-weight: 800;
    }

    .outcomeBox > div > button{
        font-size: 4vw;
        padding:4vw 15vw;
        font-weight: 600;
        border-radius: 2vw;
        border: none;
    }
  
    #userChoiceScissors,
    #userChoicePaper,
    #userChoiceRock {
      flex-direction: column;
    }
  
    #userChoiceScissors > p,
    #userChoicePaper > p,
    #userChoiceRock > p,
    #compChoicePaper > p,
    #compChoiceRock > p,
    #compChoiceScissors > p {
      margin-top: 6vw;
      font-size: 3.25vw;
      text-align: center;
    }
  
    #compChoicePaper,
    #compChoiceRock,
    #compChoiceScissors {
      margin-left: 15vw;
    }
  
    #rulesBtnContainer {
      bottom: 5vw;
      right: 0;
      left: 0;
    }
  
    #rulesBtnContainer > .rulesBtn {
      padding: 4vw 12vw 4vw 12vw;
      background-color: transparent;
      border: solid white 0.5vw;
      border-radius: 4vw;
      color: white;
      font-size: 4vw;
      font-weight: 600;
    }
  
    #rulesContainer {
      padding-top: 15vw;
      width: 100%;
      height: 100%;
      text-align: center;
      color: hsl(229, 25%, 31%);
      font-size: 6vw;
    }
  
    .rulesImgContainer {
      margin: 30vw auto;
    }
  
    .rulesImg {
      width: 75vw;
      height: auto;
    }
  
    .closeBtn {
      width: 10vw;
      margin: 0 auto;
      font-size: 10vw;
    }




  
  }
  

@media only screen and (min-width: 375px) {

    header{
        padding-top:5vw;
        width: 75vw;
        margin:0 auto;
        display: flex;
        justify-content: center;
    }
    .header-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:0.5vw 3vw 0.5vw 5vw;
        border:solid white 0.5vw;
        height: auto;
        width: 100%;
    }

    .header-left > ul > li{
        line-height: 4vw;
        font-size: 4vw;
        
    }

    .score-box{
        width: 15vw;
        padding:1.2vw;

    }

    .score-box > p{

        font-size: 2.25vw;

    }
    
    #score{
        font-size: 6vw;
        padding:0;
        margin:0;
    }

    #pickBox {
        margin: 20vw auto;
        flex-direction: row;
        justify-content: center;
      }
    
      .pentImg {
        width: 70vw;
        z-index: 0;
        position: absolute;
        left:0;
        right:0;
        margin:0 auto;
      }

    .pickCircle{
        width: 20vw;
        height: 20vw;
        z-index: 99;
    }
    #pickPaper,
    #pickScissors,
    #pickRock,
    #pickSpock,
    #pickLizzard {
      border: double 3vw transparent;
      margin-bottom: 5vw; /* Adjusted margin for readability, change as needed */
    }
  
    #pickPaper{
        margin-left:-15vw;
        margin-bottom:20vw;
    }

    #pickSpock{
        margin-right: -15vw;
        margin-bottom:20vw;
    }

    #pickLizzard, #pickRock{
        margin-top:65vw;
    }

    #pickLizzard{
        margin-right: -5vw;
    }

    #pickRock{
        margin-left: -5vw;
    }

    #pickScissors{
        margin-bottom:65vw;
    }
  

    #pickBtn{

        right: 3.5vw;
        bottom:3.5vw;
        width: 30vw;
        height: 30vw;
    }

    .pickIcon{
        width: 9vw;
        margin-right:4vw;
        height: auto;
    }


    .displayRockIcon{
        width: 14vw;
        height: 14vw;
        margin-top: 2vw;

    }

    .displayPaperIcon, .displayScissorsIcon{
        width: 12vw;
        height: 14vw;
        margin-top: 5vw;


    }

    .userChoicePaper{
        border: double 3vw transparent;
    }

    .userChoiceRock, .userChoicePaper, .userChoiceScissors{
        border: double 3vw transparent;
        flex-direction: column;
    }

    .userChoiceScissors{
        border: double 3vw transparent;
    }

    #resultBox {
        flex-direction: column;
        width: 100vw;
        height: auto;
        top: 30vw;
        align-items: center;
      }
  
      #displayChoicesBox{
          flex-direction: row;
      }
  
      .outcomeBox{
          display: flex;
          flex-direction: column;
          text-align: center;
          margin:0 auto;
          width: 100vw;
      }
  
      .outcomeBox > div > h1{
          font-size: 13vw;
          font-weight: 800;
          margin-bottom:3vw;
      }
  
      .outcomeBox > div > button{
          font-size: 4vw;
          padding:4vw 13vw;
          font-weight: 600;
          border-radius: 2vw;
          border: none;
      }

    #userChoiceScissors, #userChoicePaper, #userChoiceRock{
        flex-direction: column;
    }


    #userChoiceScissors > p, #userChoicePaper > p, #userChoiceRock > p{
        margin-top:6vw;
        font-size: 2.9vw;
        text-align: center;
    }

    #compChoicePaper > p, #compChoiceRock > p, #compChoiceScissors > p{
        margin-top:6vw;
        font-size: 2.9vw;
        text-align: center;
        
    }

    #compChoicePaper, #compChoiceRock, #compChoiceScissors{
        margin-left:20vw;
    }

    #rulesBtnContainer{
        bottom:5vw;
        right: 0;
        left:0;
        height: 10vw;
        width: 100vw;
    }


    #rulesBtnContainer > .rulesBtn{
        padding: 3vw 9vw 3vw 9vw;
        background-color: transparent;
        border:solid white 0.5vw;
        border-radius: 2vw;
        color:white;
        font-size: 3vw;
        font-weight: 600;
    }

    #rulesContainer{
        padding-top: 15vw;
        width: 100%;
        height: 100%;
        text-align: center;
        color:hsl(229, 25%, 31%);
        font-size: 4vw;

    }


    .rulesImgContainer{
        margin:20vw auto 20vw auto;
    }

    .rulesImg{
        width: 55vw;
        height: auto;
    }

    .closeBtn{
        width: 10vw;
        margin:0 auto;
        font-size: 7.5vw;
    }



}


@media only screen and (min-width: 450px) {

    header{
        padding-top:5vw;
        width: 75vw;
        margin:0 auto;
        display: flex;
        justify-content: center;
    }
    .header-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:0.5vw 3vw 0.5vw 5vw;
        border:solid white 0.5vw;
        height: auto;
        width: 100%;
    }

    .header-left > ul > li{
        line-height: 4vw;
        font-size: 4vw;
        
    }

    .score-box{
        width: 15vw;
        padding:1.2vw;

    }

    .score-box > p{

        font-size: 2.25vw;

    }
    
    #score{
        font-size: 6vw;
        padding:0;
        margin:0;
    }

    #pickBox {
        margin: 5vw auto;
        flex-direction: row;
        justify-content: center;
      }
    
      .pentImg {
        width: 65vw;
        z-index: 0;
        position: absolute;
        left:0;
        right:0;
        margin:0 auto;
      }

    .pickCircle{
        width: 15vw;
        height: 15vw;
        z-index: 99;
    }
    #pickPaper,
    #pickScissors,
    #pickRock,
    #pickSpock,
    #pickLizzard {
      border: double 3vw transparent;
      margin-bottom: 5vw; /* Adjusted margin for readability, change as needed */
    }

    #pickPaper{
        margin-left:-10vw;
        margin-bottom:15vw;
    }

    #pickSpock{
        margin-right: -10vw;
        margin-bottom:15vw;
    }

    #pickLizzard, #pickRock{
        margin-top:65vw;
    }

    #pickLizzard{
        margin-right: -5vw;
    }

    #pickRock{
        margin-left: -5vw;
    }

    #pickScissors{
        margin-bottom:55vw;
    }
  
  

    #pickBtn{
        right: 3.5vw;
        bottom:3.5vw;
        width: 30vw;
        height: 30vw;
    }

    .pickIcon{
        width: 7vw;
        margin-bottom: 7vw;
        margin-right: 8vw;
        height: auto;
    }


    .displayRockIcon{
        width: 11vw;
        height: 11vw;
        margin-top:5vw;
    }

    .displayPaperIcon, .displayScissorsIcon{
        width: 11vw;
        height: 12vw;
        margin-top:5vw;

    }

    .userChoicePaper{
        border: double 4vw transparent;
    }

    .userChoiceRock, .userChoicePaper, .userChoiceScissors{
        border: double 4vw transparent;
        flex-direction: column;
    }

    .userChoiceScissors{
        border: double 4vw transparent;
    }

    #resultBox {
        flex-direction: column;
        width: 100vw;
        height: auto;
        top: 20vw;
        align-items: center;
      }
  
      #displayChoicesBox{
          flex-direction: row;
      }
  
      .outcomeBox{
          display: flex;
          flex-direction: column;
          text-align: center;
          margin:0 auto;
          width: 100vw;
      }
  
      .outcomeBox > div > h1{
          font-size: 11vw;
          font-weight: 800;
          margin-bottom:3vw;
      }
  
      .outcomeBox > div > button{
          font-size: 2.75vw;
          padding:3vw 13vw;
          font-weight: 600;
          border-radius: 2vw;
          border: none;
      }

    #userChoiceScissors, #userChoicePaper, #userChoiceRock{
        flex-direction: column;
    }


    #userChoiceScissors > p, #userChoicePaper > p, #userChoiceRock > p{
        margin-top:6vw;
        font-size: 2.9vw;
        text-align: center;
    }

    #compChoicePaper > p, #compChoiceRock > p, #compChoiceScissors > p{
        margin-top:6vw;
        font-size: 2.9vw;
        text-align: center;
        
    }

    #compChoicePaper, #compChoiceRock, #compChoiceScissors{
        margin-left:20vw;
    }

    #rulesBtnContainer{
        bottom:5vw;
        right: 0;
        left:0;
        height: 8vw;
        width: 100vw;
    }


    #rulesBtnContainer > .rulesBtn{
        padding: 1vw 9vw 1vw 9vw;
        background-color: transparent;
        border:solid white 0.5vw;
        border-radius: 2vw;
        color:white;
        font-size: 3vw;
        font-weight: 600;
    }

    #rulesContainer{
        padding-top: 15vw;
        width: 100%;
        height: 100%;
        text-align: center;
        color:hsl(229, 25%, 31%);
        font-size: 3vw;

    }


    .rulesImgContainer{
        margin:20vw auto 20vw auto;
    }

    .rulesImg{
        width: 55vw;
        height: auto;
    }

    .closeBtn{
        width: 10vw;
        margin:0 auto;
        font-size: 7.5vw;
    }



}

@media only screen and (min-width: 600px) {

    header{
        padding-top:5vw;
        width: 75vw;
        margin:0 auto;
        display: flex;
        justify-content: center;
    }
    .header-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:1vw 3vw 1vw 5vw;
        border:solid white 0.2vw;
        height: auto;
        width: 100%;
    }

    .header-left > ul > li{
        line-height: 2.75vw;
        font-size: 3vw;
        
    }

    .score-box{
        width: 12vw;
        padding:1.5vw;

    }

    .score-box > p{

        font-size: 2vw;

    }
    
    #score{
        font-size: 5vw;
        padding:0;
        margin:0;
    }

    #pickBox {
        margin: 0 auto;
        flex-direction: row;
        justify-content: center;
      }
    
      .pentImg {
        width: 55vw;
        z-index: 0;
        position: absolute;
        left:0;
        right:0;
        margin:0 auto;
      }


    .pickCircle{
        width: 15vw;
        height: 15vw;
        z-index: 99;
    }
    #pickPaper,
    #pickScissors,
    #pickRock,
    #pickSpock,
    #pickLizzard {
      border: double 2.5vw transparent;
    }

    #pickPaper{
        margin-left:-10vw;
        margin-bottom:10vw;
    }

    #pickSpock{
        margin-right: -10vw;
        margin-bottom:10vw;
    }

    #pickLizzard, #pickRock{
        margin-top:55vw;
    }

    #pickLizzard{
        margin-right: -5vw;
    }

    #pickRock{
        margin-left: -5vw;
    }

    #pickScissors{
        margin-bottom:45vw;
    }

    #pickBtn{

        right: 2.5vw;
        bottom:2.5vw;
        width: 20vw;
        height: 20vw;
    }

    .pickIcon{
        margin-top:6vw;
        margin-left:5vw;
        width: 7vw;
        height: auto;
    }


    .displayRockIcon{
        width: 6vw;
        height: 6vw;
        margin-top:4vw;
    }

    .displayPaperIcon, .displayScissorsIcon{
        width: 7vw;
        height: 8vw;
        margin-top:3vw;
    }

    .userChoicePaper{
        border: double 3vw transparent;
    }

    .userChoiceRock, .userChoicePaper, .userChoiceScissors{
        border: double 3vw transparent;
        flex-direction: column;
    }

    .userChoiceScissors{
        border: double 3vw transparent;
    }

    #resultBox {
        flex-direction: column;
        width: 100vw;
        height: auto;
        top: 15vw;
        align-items: center;
      }
  
      #displayChoicesBox{
          flex-direction: row;
      }
  
      .outcomeBox{
          display: flex;
          flex-direction: column;
          text-align: center;
          margin:0 auto;
          width: 100vw;
      }
  
      .outcomeBox > div > h1{
          font-size: 9vw;
          font-weight: 800;
          margin-bottom:3vw;
      }
  
      .outcomeBox > div > button{
          font-size: 2vw;
          padding:2.25vw 10vw;
          font-weight: 600;
          border-radius: 2vw;
          border: none;
      }

    #userChoiceScissors, #userChoicePaper, #userChoiceRock{
        flex-direction: column;
    }

    #userChoiceScissors > p, #userChoicePaper > p, #userChoiceRock > p , #compChoicePaper > p, #compChoiceRock > p, #compChoiceScissors > p{
        margin-top:3vw;
        font-size: 2.5vw;
        text-align: center;
        
    }

    #compChoicePaper, #compChoiceRock, #compChoiceScissors{
        margin-left:15vw;
    }

    #rulesBtnContainer{
        bottom:5vw;
        right: 0;
        left:0;
        height: 7vw;
        width: 100vw;
    }


    #rulesBtnContainer > .rulesBtn{
        padding: 0 6vw 0 6vw;
        background-color: transparent;
        border:solid white 0.5vw;
        border-radius: 2vw;
        color:white;
        font-size: 2vw;
        font-weight: 400;
    }

    

    #rulesContainer{
        padding-top: 10vw;
        width: 100%;
        height: 100%;
        text-align: center;
        color:hsl(229, 25%, 31%);
        font-size: 3vw;

    }

    .rulesImgContainer{
        margin:15vw auto 18vw auto;
    }

    .rulesImg{
        width: 45vw;
        height: auto;
    }

    .closeBtn{
        width: 10vw;
        margin:0 auto;
        font-size: 6vw;
    }

    

}

@media only screen and (min-width: 768px) {

    header{
        padding-top:5vw;
        width: 65vw;
        margin:0 auto;
        display: flex;
        justify-content: center;
    }
    .header-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:1vw 3vw 1vw 5vw;
        border:solid white 0.1vw;
        height: auto;
        width: 100%;
    }

    .header-left > ul > li{
        line-height: 2.2vw;
        font-size: 2.5vw;
        
    }

    .score-box{
        width: 10vw;
        padding:1.5vw;

    }

    .score-box > p{

        font-size: 1.5vw;

    }
    
    #score{
        font-size: 4vw;
        padding:0;
        margin:0;
    }

    
    #pickBox {
        margin: 0 auto;
        flex-direction: row;
        justify-content: center;
      }
    
      .pentImg {
        width: 50vw;
        z-index: 0;
        position: absolute;
        left:0;
        right:0;
        margin:0 auto;
      }

    .pickCircle{
        width: 13vw;
        height: 13vw;
        z-index: 99;
    }
    #pickPaper,
    #pickScissors,
    #pickRock,
    #pickSpock,
    #pickLizzard {
      border: double 2vw transparent;
      margin-bottom: 5vw; /* Adjusted margin for readability, change as needed */
    }

    #pickPaper{
        margin-left:-5vw;
        margin-bottom:10vw;
    }

    #pickSpock{
        margin-right: -5vw;
        margin-bottom:10vw;
    }

    #pickLizzard, #pickRock{
        margin-top:50vw;
    }

    #pickLizzard{
        margin-right: -5vw;
    }

    #pickRock{
        margin-left: -5vw;
    }

    #pickScissors{
        margin-bottom:40vw;
    }


    #pickBtn{

        right: 2vw;
        bottom:2vw;
        width: 17vw;
        height: 17vw;
    }

    .pickIcon{
        width: 6vw;
        height: auto;
        margin-left: 4.5vw;
        margin-top: 5vw;
    }






    .displayRockIcon{
        width: 7.5vw;
        height: 7.5vw;
        margin-bottom:3vw;
    }

    .displayPaperIcon, .displayScissorsIcon{
        width: 7.5vw;
        height: 9vw;
    }

    .displayScissorsIcon{
        margin-bottom:3vw;
    }

    .displayPaperIcon{
        margin-bottom:2vw;
    }

    .userChoicePaper{
        border: double 3vw transparent;
    }

    .userChoiceRock, .userChoicePaper, .userChoiceScissors{
        border: double 3vw transparent;
        flex-direction: column-reverse;
        width: 15vw;
        height: 15vw;
    }

    .userChoiceScissors{
        border: double 3vw transparent;
    }

    #resultBox {
        flex-direction: column;
        width: 100vw;
        height: auto;
        top: 15vw;
        align-items: center;
      }
  
      #displayChoicesBox{
          flex-direction: row;
      }
  
      .outcomeBox{
          display: flex;
          flex-direction: column;
          text-align: center;
          margin-top: -30vw;
          width: 100vw;
      }
  
      .outcomeBox > div > h1{
          font-size: 6vw;
          font-weight: 800;
          margin-bottom:3vw;
      }
  
      .outcomeBox > div > button{
          font-size: 2vw;
          padding:2vw 7.5vw;
          font-weight: 600;
          border-radius: 1vw;
          border: none;
      }


    #userChoiceScissors, #userChoicePaper, #userChoiceRock{
        flex-direction: column-reverse;
    }


    #userChoiceScissors > p, #userChoicePaper > p, #userChoiceRock > p{
        margin-bottom:6vw;
        font-size: 2.5vw;
        text-align: center;
    }

    #compChoicePaper > p, #compChoiceRock > p, #compChoiceScissors > p{
        margin-bottom:6vw;
        font-size: 2.5vw;
        text-align: center;
        
    }

    #compChoicePaper, #compChoiceRock, #compChoiceScissors{
        margin-left:45vw;
        flex-direction: column-reverse;
    }

    #rulesBtnContainer{
        bottom:2vw;
        right: 0;
        left:40vw;
        height: 6vw;
        width: 100vw;
    }


    #rulesBtnContainer > .rulesBtn{
        padding: 0 4vw 0 4vw;
        background-color: transparent;
        border:solid white 0.5vw;
        border-radius: 2vw;
        color:white;
        font-size: 2vw;
        font-weight: 600;
    }


    #rulesContainer{
        text-align: left;
        color:hsl(229, 25%, 31%);
        font-size: 2vw;
        width: 41vw;
        height: 31vw;
        left:28.8vw;
        top:20vw;
        border-radius: 2vw;


    }

    #rulesContainer > h2{
        margin-top:-6vw;
        margin-left: 5vw;
    }


    .rulesImgContainer{
        margin:0 5vw;
    }

    .rulesImg{
        width: 30vw;
        height: auto;
    }

    .closeBtn{
        width: 10vw;
        margin-left: 32vw;
        margin-top:-33vw;
        font-size: 2.5vw;
    }
    



    

}

@media only screen and (min-width: 830px) {

    header{
        padding-top:2vw;
        width: 55vw;
        margin:0 auto;
        display: flex;
        justify-content: center;
    }
    .header-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:1vw 1vw 1vw 2vw;
        border:solid white 0.1vw;
        height: auto;
        width: 100%;
    }

    .header-left > ul > li{
        line-height: 1.75vw;
        font-size: 1.75vw;
        
    }

    .score-box{
        width: 7.5vw;
        padding:1.2vw;

    }

    .score-box > p{

        font-size: 1.2vw;

    }
    
    #score{
        font-size: 3vw;
        padding:0;
        margin:0;
    }

    #pickBox {
        margin:  auto;
        flex-direction: row;
        justify-content: center;
      }
    
      .pentImg {
        width: 40vw;
        z-index: 0;
        position: absolute;
        left:0;
        right:0;
        margin:0 auto;
      }

    .pickCircle{
        width: 11vw;
        height: 11vw;

        z-index: 99;
    }
    #pickPaper,
    #pickScissors,
    #pickRock,
    #pickSpock,
    #pickLizzard {
      border: double 2vw transparent;
    }

    #pickPaper{
        margin-left:-7.5vw;
        margin-bottom:10vw;
    }

    #pickSpock{
        margin-right: -7.5vw;
        margin-bottom:10vw;
    }

    #pickLizzard, #pickRock{
        margin-top:40vw;
    }

    #pickLizzard{
        margin-right: -5vw;
    }

    #pickRock{
        margin-left: -5vw;
    }

    #pickScissors{
        margin-bottom:30vw;
    }
  

    #pickBtn{

        right: 1.5vw;
        bottom:1.5vw;
        width: 14vw;
        height: 14vw;
    }

    .pickIcon{
        margin-top:4.5vw;
        width: 5vw;
        height: auto;
        margin-left: 3.5vw;
    }



    .displayRockIcon{
        width: 7.5vw;
        height: 7.5vw;
        margin-bottom:3vw;
    }

    .displayPaperIcon, .displayScissorsIcon{
        width: 7.5vw;
        height: 9vw;
    }

    .displayScissorsIcon{
        margin-bottom:3vw;
    }

    .displayPaperIcon{
        margin-bottom:2vw;
    }

    .userChoicePaper{
        border: double 3vw transparent;
    }

    .userChoiceRock, .userChoicePaper, .userChoiceScissors{
        border: double 3vw transparent;
        flex-direction: column-reverse;
        width: 15vw;
        height: 15vw;
    }

    .userChoiceScissors{
        border: double 3vw transparent;
    }

    #resultBox {
        flex-direction: column;
        width: 100vw;
        height: auto;
        top: 10vw;
        align-items: center;
      }
  
      #displayChoicesBox{
          flex-direction: row;
      }
  
      .outcomeBox{
          display: flex;
          flex-direction: column;
          text-align: center;
          margin-top: -25vw;
          width: 100vw;
      }
  
      .outcomeBox > div > h1{
          font-size: 5vw;
          font-weight: 800;
          margin-bottom:3vw;
      }
  
      .outcomeBox > div > button{
          font-size: 1.5vw;
          padding:2vw 6.5vw;
          font-weight: 600;
          border-radius: 1vw;
          border: none;
      }
    #userChoiceScissors, #userChoicePaper, #userChoiceRock{
        flex-direction: column-reverse;
    }


    #userChoiceScissors > p, #userChoicePaper > p, #userChoiceRock > p{
        margin-bottom:4vw;
        font-size: 2vw;
        text-align: center;
    }

    #compChoicePaper > p, #compChoiceRock > p, #compChoiceScissors > p{
        margin-bottom:4vw;
        font-size: 2vw;
        text-align: center;
        
    }

    #compChoicePaper, #compChoiceRock, #compChoiceScissors{
        margin-left:40vw;
    }

    #rulesContainer{
        text-align: left;
        color:hsl(229, 25%, 31%);
        font-size: 2vw;
        width: 45vw;
        height: 30vw;
        left:27vw;
        top:20vw;
        border-radius: 2vw;


    }

    #rulesBtnContainer{
        bottom:2vw;
        right: 0;
        left:40vw;
        height: 5vw;
        width: 100vw;
    }


    #rulesBtnContainer > .rulesBtn{
        padding: 0 3vw 0 3vw;
        background-color: transparent;
        border:solid white 0.3vw;
        border-radius: 1vw;
        color:white;
        font-size: 1.5vw;
        font-weight: 600;
    }

    #rulesContainer > h2{
        margin-top:-6vw;
        margin-left: 5vw;
    }


    .rulesImgContainer{
        margin:0 auto;
    }

    .rulesImg{
        width: 30vw;
        height: auto;
    }

    .closeBtn{
        width: 10vw;
        margin-left: 36vw;
        margin-top:-33vw;
        font-size: 2.5vw;
    }
    
    
    

}

@media only screen and (min-width: 1100px) {

    header{
        padding-top:2vw;
        width: 50vw;
        margin:0 auto;
        display: flex;
        justify-content: center;
    }
    .header-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:1vw 1vw 1vw 1.5vw;
        border:solid white 0.1vw;
        height: auto;
        width: 100%;
    }

    .header-left > ul > li{
        line-height: 1.5vw;
        font-size: 1.5vw;
        
    }

    .score-box{
        width: 6vw;
        padding:1.25vw;

    }

    .score-box > p{

        font-size: 1vw;

    }
    
    #score{
        font-size: 2.5vw;
        padding:0;
        margin:0;
    }


    #pickBox{
        margin:0 auto;
    }

    .pentImg{
        width: 35vw;
    }

    .pickCircle{
        width: 8vw;
        height: 8vw;
        z-index: 99;
    }

    #pickPaper,
    #pickScissors,
    #pickRock,
    #pickSpock,
    #pickLizzard {
      border: double 1.5vw transparent;
    }

    #pickPaper{
        margin-left:-4vw;
        margin-bottom:10vw;
    }

    #pickSpock{
        margin-right: -4vw;
        margin-bottom:10vw;
    }

    #pickLizzard, #pickRock{
        margin-top:35vw;
    }

    #pickLizzard{
        margin-right: -3vw;

    }

    #pickRock{
        margin-left: -3vw;

    }

    #pickScissors{
        margin-bottom:30vw;
    }

    #pickBtn{
        width: 13vw;
        height: 13vw;
    }

    .pickIcon{
        width: 3.5vw;
        height: auto;
        margin-left: 3vw;
        margin-top:4vw;
    }

    .displayRockIcon{
        width: 7.5vw;
        height: 7.5vw;
        margin-bottom:3vw;
    }

    .displayPaperIcon, .displayScissorsIcon{
        width: 7.5vw;
        height: 9vw;
    }

    .displayScissorsIcon{
        margin-bottom:3vw;
    }

    .displayPaperIcon{

        margin-bottom:2vw;
    }

    .userChoicePaper{
        border: double 3vw transparent;
    }

    .userChoiceRock, .userChoicePaper, .userChoiceScissors{
        border: double 3vw transparent;
        flex-direction: column-reverse;
        width: 15vw;
        height: 15vw;
    }

    .userChoiceScissors{
        border: double 3vw transparent;
    }

    #resultBox {
        flex-direction: column;
        width: 100vw;
        height: auto;
        top: 5vw;
        align-items: center;
      }
  
      #displayChoicesBox{
          flex-direction: row;
      }
  
      .outcomeBox{
          display: flex;
          flex-direction: column;
          text-align: center;
          margin-top: -25vw;
          width: 100vw;
      }
  
      .outcomeBox > div > h1{
          font-size: 4vw;
          font-weight: 800;
          margin-bottom:3vw;
      }
  
      .outcomeBox > div > button{
          font-size: 1.5vw;
          padding:1.5vw 6vw;
          font-weight: 600;
          border-radius: 1vw;
          border: none;
      }

    #userChoiceScissors, #userChoicePaper, #userChoiceRock{
        flex-direction: column-reverse;
    }


    #userChoiceScissors > p, #userChoicePaper > p, #userChoiceRock > p{
        margin-bottom:4vw;
        font-size: 2vw;
        text-align: center;
    }


    #compChoicePaper > p, #compChoiceRock > p, #compChoiceScissors > p{
        margin-bottom:4vw;
        font-size: 2vw;
        text-align: center;
        
    }

    #compChoicePaper, #compChoiceRock, #compChoiceScissors{
        margin-left:40vw;
    }

    #rulesContainer{
        text-align: left;
        color:hsl(229, 25%, 31%);
        font-size: 1.5vw;
        width: 30vw;
        height: 20vw;
        left:34.5vw;
        top:15vw;
        border-radius: 2vw;
        padding-top:8vw;


    }

    #rulesContainer > h2, .rulesImgContainer{
        margin-left: 5vw;
    }

    .rulesImg{
        width: 20vw;
        height: auto;
    }

    .closeBtn{
        width: 10vw;
        margin-left: 22vw;
        margin-top:-22vw;
        font-size: 2vw;
    }

    #rulesBtnContainer{
        bottom:2vw;
        right: 0;
        left:40vw;
        height: 4vw;
        width: 100vw;
    }


    #rulesBtnContainer > .rulesBtn{
        padding: 0 3vw 0 3vw;
        background-color: transparent;
        border:solid white 0.3vw;
        border-radius: 1vw;
        color:white;
        font-size: 1.25vw;
        font-weight: 600;
    }
    
    

}

@media only screen and (min-width: 1366px) {

    header{
        padding-top:2vw;
        width: 50vw;
        margin:0 auto;
        display: flex;
        justify-content: center;
    }
    .header-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:1vw 1.25vw 1vw 1.5vw;
        border:solid white 0.1vw;
        height: auto;
        width: 100%;
    }

    .header-left > ul > li{
        line-height: 1.5vw;
        font-size: 1.5vw;
        
    }

    .score-box{
        width: 6vw;
        padding:1.2vw;

    }

    .score-box > p{

        font-size: 1vw;

    }
    
    #score{
        font-size: 2.5vw;
        padding:0;
        margin:0;
    }

    #pickBox {
        margin: 0 auto;
        flex-direction: row;
        justify-content: center;
      }
    
      .pentImg {
        width: 30vw;
        z-index: 0;
        position: absolute;
        left:0;
        right:0;
        margin:0 auto;
      }

    .pickCircle{
        width: 8vw;
        height: 8vw;

        z-index: 99;
    }

    #pickPaper,
    #pickScissors,
    #pickRock,
    #pickSpock,
    #pickLizzard {
      border: double 1.2vw transparent;
    }
  
    #pickPaper{
        margin-left:-4vw;
        margin-bottom:6vw;
    }

    #pickSpock{
        margin-right: -4vw;
        margin-bottom:6vw;
    }

    #pickLizzard, #pickRock{
        margin-top:30vw;
    }

    #pickLizzard{
        margin-right: -3vw;

    }

    #pickRock{
        margin-left: -3vw;

    }

    #pickScissors{
        margin-bottom:25vw;
    }

    .circleContainer{
        width: 100%;
    }

    #pickBtn{

        right:1vw;
        bottom:1vw;
        width: 10vw;
        height: 10vw;
    }

    .pickIcon{
        margin-left:3vw;
        margin-top: 3vw;
        width: 3.5vw;
        height: auto;
    }

    .displayRockIcon{
        width: 7.5vw;
        height: 7.5vw;
        margin-bottom:3vw;
    }

    .displayPaperIcon, .displayScissorsIcon{
        width: 7.5vw;
        height: 9vw;
    }

    .displayScissorsIcon{
        margin-bottom:3vw;
    }

    .displayPaperIcon{

        margin-bottom:2vw;
    }

    .userChoicePaper{
        border: double 3vw transparent;
    }

    .userChoiceRock, .userChoicePaper, .userChoiceScissors{
        border: double 3vw transparent;
        flex-direction: column-reverse;
        width: 15vw;
        height: 15vw;
    }

    .userChoiceScissors{
        border: double 3vw transparent;
    }

    #resultBox {
        flex-direction: column;
        width: 100vw;
        height: auto;
        top: 5vw;
        align-items: center;
      }
  
      #displayChoicesBox{
          flex-direction: row;
      }
  
      .outcomeBox{
          display: flex;
          flex-direction: column;
          text-align: center;
          margin-top: -25vw;
          width: 100vw;
      }
  
      .outcomeBox > div > h1{
          font-size: 4vw;
          font-weight: 800;
          margin-bottom:2vw;
      }
  
      .outcomeBox > div > button{
          font-size: 1vw;
          padding:1vw 5vw;
          font-weight: 600;
          border-radius: 0.5vw;
          border: none;
      }

    #userChoiceScissors, #userChoicePaper, #userChoiceRock{
        flex-direction: column-reverse;
    }

    #userChoiceScissors > p, #userChoicePaper > p, #userChoiceRock > p{
        margin-bottom:2vw;
        font-size: 1.75vw;        
        text-align: center;
    }

    #compChoicePaper > p, #compChoiceRock > p, #compChoiceScissors > p{
        margin-bottom:2vw;
        font-size: 1.75vw;
        text-align: center;
        
    }

    #compChoicePaper, #compChoiceRock, #compChoiceScissors{
        margin-left:40vw;
    }
    
    #rulesContainer{
        text-align: left;
        color:hsl(229, 25%, 31%);
        font-size: 1vw;
        width: 20vw;
        height: 18vw;
        left:39.5vw;
        top:15vw;
        border-radius: 2vw;
        padding-top:2vw;


    }

    #rulesContainer > h2, .rulesImgContainer{
        margin-top:0vw;
        margin-left: 2vw;
    }

    .rulesImg{
        width: 15vw;
        height: auto;
    }

    .closeBtn{
        width: 10vw;
        margin-left: 13vw;
        margin-top:-16.5vw;
        font-size: 1.5vw;
    }

    #rulesBtnContainer{
        bottom:2vw;
        right: 0;
        left:40vw;
        height: 3vw;
        width: 100vw;
    }


    #rulesBtnContainer > .rulesBtn{
        padding: 0 2vw 0 2vw;
        background-color: transparent;
        border:solid white 0.3vw;
        border-radius: 1vw;
        color:white;
        font-size: 1vw;
        font-weight: 600;
    }
    
    

}

@media only screen and (min-width: 1600px) {

    header{
        padding-top:2vw;
        width: 50vw;
        margin:0 auto;
        display: flex;
        justify-content: center;
    }
    .header-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:1vw 1.25vw 1vw 1.5vw;
        border:solid white 0.1vw;
        height: auto;
        width: 100%;
    }

    .header-left > ul > li{
        line-height: 1.5vw;
        font-size: 1.5vw;
        
    }

    .score-box{
        width: 6vw;
        padding:1.2vw;

    }

    .score-box > p{

        font-size: 1vw;

    }
    
    #score{
        font-size: 2.5vw;
        padding:0;
        margin:0;
    }

    #pickBox {
        margin: 0 auto;
        flex-direction: row;
        justify-content: center;
      }
    
      .pentImg {
        width: 22vw;
        z-index: 0;
        position: absolute;
        left:0;
        right:0;
        margin:0 auto;
      }

    .pickCircle{
        width: 6vw;
        height: 6vw;

        z-index: 99;
    }

    #pickPaper,
    #pickScissors,
    #pickRock,
    #pickSpock,
    #pickLizzard {
      border: double 1vw transparent;
    }

    #pickPaper{
        margin-left:-4vw;
        margin-bottom:6vw;
    }

    #pickSpock{
        margin-right: -4vw;
        margin-bottom:6vw;
    }

    #pickLizzard, #pickRock{
        margin-top:25vw;
    }

    #pickLizzard{
        margin-right: -3vw;

    }

    #pickRock{
        margin-left: -3vw;

    }

    #pickScissors{
        margin-bottom:18vw;
    }

    .circleContainer{
        width: 100%;
    }

    #pickBtn{

        right:1vw;
        bottom:1vw;
        width: 10vw;
        height: 10vw;
    }

    .pickIcon{
        margin-left:2.5vw;
        margin-top: 2.5vw;
        width: 2.5vw;
        height: auto;
    }

    .displayRockIcon{
        width: 7.5vw;
        height: 7.5vw;
        margin-bottom:3vw;
    }

    .displayPaperIcon, .displayScissorsIcon{
        width: 7.5vw;
        height: 9vw;
    }

    .displayScissorsIcon{
        margin-bottom:3vw;
    }

    .displayPaperIcon{

        margin-bottom:2vw;
    }

    .userChoicePaper{
        border: double 3vw transparent;
    }

    .userChoiceRock, .userChoicePaper, .userChoiceScissors{
        border: double 3vw transparent;
        flex-direction: column-reverse;
        width: 15vw;
        height: 15vw;
    }

    .userChoiceScissors{
        border: double 3vw transparent;
    }

    #resultBox {
        flex-direction: column;
        width: 100vw;
        height: auto;
        top: 5vw;
        align-items: center;
      }
  
      #displayChoicesBox{
          flex-direction: row;
      }
  
      .outcomeBox{
          display: flex;
          flex-direction: column;
          text-align: center;
          margin-top: -25vw;
          width: 100vw;
      }
  
      .outcomeBox > div > h1{
          font-size: 4vw;
          font-weight: 800;
          margin-bottom:2vw;
      }
  
      .outcomeBox > div > button{
          font-size: 1vw;
          padding:1vw 5vw;
          font-weight: 600;
          border-radius: 0.5vw;
          border: none;
      }

    #userChoiceScissors, #userChoicePaper, #userChoiceRock{
        flex-direction: column-reverse;
    }

    #userChoiceScissors > p, #userChoicePaper > p, #userChoiceRock > p{
        margin-bottom:2vw;
        font-size: 1.75vw;        
        text-align: center;
    }

    #compChoicePaper > p, #compChoiceRock > p, #compChoiceScissors > p{
        margin-bottom:2vw;
        font-size: 1.75vw;
        text-align: center;
        
    }

    #compChoicePaper, #compChoiceRock, #compChoiceScissors{
        margin-left:40vw;
    }
    
    #rulesContainer{
        text-align: left;
        color:hsl(229, 25%, 31%);
        font-size: 1vw;
        width: 20vw;
        height: 18vw;
        left:39.5vw;
        top:15vw;
        border-radius: 2vw;
        padding-top:2vw;


    }

    #rulesContainer > h2, .rulesImgContainer{
        margin-top:0vw;
        margin-left: 2vw;
    }

    .rulesImg{
        width: 15vw;
        height: auto;
    }

    .closeBtn{
        width: 10vw;
        margin-left: 13vw;
        margin-top:-16.5vw;
        font-size: 1.5vw;
    }

    #rulesBtnContainer{
        bottom:2vw;
        right: 0;
        left:40vw;
        height: 3vw;
        width: 100vw;
    }


    #rulesBtnContainer > .rulesBtn{
        padding: 0 2vw 0 2vw;
        background-color: transparent;
        border:solid white 0.3vw;
        border-radius: 1vw;
        color:white;
        font-size: 1vw;
        font-weight: 600;
    }
    
    

}


