body {
    background:radial-gradient(ellipse at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    background-repeat: no-repeat;
    background-size: contain, cover;
    height: 100vh;
  
}

p,li{
    color:white;
    text-decoration: none;
    list-style: none;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.main-content{
    display: flex;
    justify-content: center;
}

ul{
    padding:0 ;
}

.header-content{
    margin:0 auto;
    display: flex;
    border-radius: 5px;
}

.header-left{
    font-weight: 800;
}

.score-box{
    text-align: center;
    background-color: white;
    border-radius: 5px;

}

.score-box > p{
    color:hsl(229, 64%, 46%);
    padding:0;
    margin:0;
    font-weight: 800;
}

#score{
    font-weight: 800;
    color:hsl(229, 25%, 31%);
}

.pickCircle{
    position: relative;
    border-radius: 50%;
}

/* #pickPaper:hover{
    filter: brightness(75%);
} */



.circleContainer {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
  }

#pickPaper, #pickScissors, #pickRock , .userChoicePaper, .userChoiceRock, .userChoiceScissors{
    background-origin: border-box;
    background-clip: content-box, border-box;
}

#pickPaper{
    background-image: linear-gradient(white, white), linear-gradient(to right, hsl(230, 89%, 62%), hsl(230, 89%, 65%));

}

#pickScissors{
    background-image: linear-gradient(white, white), linear-gradient(to right,hsl(39, 89%, 49%) ,  hsl(40, 84%, 53%));

}

#pickRock{
    background-image: linear-gradient(white, white), linear-gradient(to right, hsl(349, 71%, 52%) , hsl(349, 70%, 56%));
    
}

#pickBtn{
    position: relative;
    background-color: transparent;
    border:none;

}

#pickBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userChoicePaper{
    background-image: linear-gradient(white, white), linear-gradient(to right, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
    display: flex;
}
.userChoiceRock{
    background-image: linear-gradient(white, white), linear-gradient(to right, hsl(349, 71%, 52%) , hsl(349, 70%, 56%));
    display: flex;
}

.userChoiceScissors{
    background-image: linear-gradient(white, white), linear-gradient(to right,hsl(39, 89%, 49%) ,  hsl(40, 84%, 53%));
    display: flex;
}

#resultBox{
    display: none;
    position: relative;
}




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 375px) {

    header{
        padding-top:5vw;
        width: 75vw;
        margin:0 auto;
        display: flex;
        justify-content: center;
    }
    .header-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:1vw 3vw 1vw 5vw;
        border:solid white 0.5vw;
        height: auto;
        width: 100%;
    }

    .header-left > ul > li{
        line-height: 4vw;
        font-size: 4vw;
        
    }

    .score-box{
        width: 15vw;
        padding:1.5vw;

    }

    .score-box > p{

        font-size: 3vw;

    }
    
    #score{
        font-size: 9vw;
        padding:0;
        margin:0;
    }

    #pickBox{
        margin:50vw auto;

    }

    .triImg{
        width: 55vw;
        z-index: 0;
    }

    .pickCircle{
        width: 25vw;
        height: 25vw;

        z-index: 99;
    }



    #pickPaper{
        border: double 3vw transparent;
        margin-bottom: 5vw; /* Adjusted margin for readability, change as needed */
        bottom: 60vw;
        left: 10vw;
        
    }

    #pickScissors{
        border: double 3vw transparent;
        margin-bottom: 5vw; /* Adjusted margin for readability, change as needed */
        bottom:60vw;
        right: 10vw;

    }

    #pickRock{
        border: double 3vw transparent;
        margin-bottom: 5vw; /* Adjusted margin for readability, change as needed */
        bottom:25vw;
    }

    .circleContainer{
        width: 100%;
    }

    #pickBtn{

        right: 2.5vw;
        bottom:2.5vw;
        width: 30vw;
        height: 30vw;
    }

    .pickIcon{
        margin-right:1vw;
        width: 12vw;
        height: auto;
    }

    .displayRockIcon{
        width: 15vw;
        height: 15vw;
        margin-left:3.5vw;
        margin-top:5vw;
    }

    .displayPaperIcon, .displayScissorsIcon{
        width: 15vw;
        height: 17vw;
        margin-left:4.5vw;
        margin-top:5vw;
    }

    .userChoicePaper{
        border: double 3vw transparent;
    }

    .userChoiceRock, .userChoicePaper, .userChoiceScissors{
        border: double 3vw transparent;
        flex-direction: column;
    }

    .userChoiceScissors{
        border: double 3vw transparent;
    }

    #resultBox{
        width: 31vw;
        height: auto;
        left:10vw;
        top:30vw;
    }

    .userChoiceScissors > p, .userChoiceRock > p, .userChoicePaper > p{
        margin-top:12vw;
        font-size: 4.5vw;
        text-align: center;
    }


}


@media only screen and (min-width: 375px) {

    header{
        padding-top:5vw;
        width: 75vw;
        margin:0 auto;
        display: flex;
        justify-content: center;
    }
    .header-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:0.5vw 3vw 0.5vw 5vw;
        border:solid white 0.5vw;
        height: auto;
        width: 100%;
    }

    .header-left > ul > li{
        line-height: 4vw;
        font-size: 4vw;
        
    }

    .score-box{
        width: 15vw;
        padding:1.2vw;

    }

    .score-box > p{

        font-size: 2.25vw;

    }
    
    #score{
        font-size: 6vw;
        padding:0;
        margin:0;
    }

    #pickBox{
        margin:40vw auto;
    }

    .triImg{
        width: 55vw;
    }

    .pickCircle{
        width: 22.5vw;
        height: 22.5vw;

        z-index: 99;
    }

    #pickPaper{
        border: double 3vw transparent;
        margin-bottom: 5vw; /* Adjusted margin for readability, change as needed */
        bottom: 60vw;
        left: 10vw;
        
    }

    #pickScissors{
        border: double 3vw transparent;
        margin-bottom: 5vw; /* Adjusted margin for readability, change as needed */
        bottom:60vw;
        right: 10vw;

    }

    #pickRock{
        border: double 3vw transparent;
        margin-bottom: 5vw; /* Adjusted margin for readability, change as needed */
        bottom:25vw;
    }

    .circleContainer{
        width: 100%;
    }

    #pickBtn{

        right: 3.5vw;
        bottom:3.5vw;
        width: 30vw;
        height: 30vw;
    }

    .pickIcon{
        margin-right:2.5vw;
        width: 10vw;
        height: auto;
    }


    .displayRockIcon{
        width: 14vw;
        height: 14vw;
        margin-left:3.5vw;
        margin-top:5vw;
    }

    .displayPaperIcon, .displayScissorsIcon{
        width: 14vw;
        height: 15vw;
        margin-left:4vw;
        margin-top:5vw;
    }

    .userChoicePaper{
        border: double 3vw transparent;
    }

    .userChoiceRock, .userChoicePaper, .userChoiceScissors{
        border: double 3vw transparent;
        flex-direction: column;
    }

    .userChoiceScissors{
        border: double 3vw transparent;
    }

    #resultBox{
        width: 31vw;
        height: auto;
        left:10vw;
        top:30vw;
    }

    .userChoiceScissors > p, .userChoiceRock > p, .userChoicePaper > p{
        margin-top:12vw;
        font-size: 4.5vw;
        text-align: center;
    }



    

}
@media only screen and (min-width: 600px) {

    header{
        padding-top:5vw;
        width: 75vw;
        margin:0 auto;
        display: flex;
        justify-content: center;
    }
    .header-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:1vw 3vw 1vw 5vw;
        border:solid white 0.2vw;
        height: auto;
        width: 100%;
    }

    .header-left > ul > li{
        line-height: 2.75vw;
        font-size: 3vw;
        
    }

    .score-box{
        width: 12vw;
        padding:1.5vw;

    }

    .score-box > p{

        font-size: 2vw;

    }
    
    #score{
        font-size: 5vw;
        padding:0;
        margin:0;
    }

    #pickBox{
        margin:30vw auto;
    }

    .triImg{
        width: 35vw;
    }

    .pickCircle{
        width: 15vw;
        height: 15vw;

        z-index: 99;
    }

    #pickPaper{
        border: double 2vw transparent;
        margin-bottom: 5vw; /* Adjusted margin for readability, change as needed */
        bottom: 40vw;
        left: 22.5vw;
        
    }

    #pickScissors{
        border: double 2vw transparent;
        margin-bottom: 5vw; /* Adjusted margin for readability, change as needed */
        bottom:40vw;
        right: 22.5vw;

    }

    #pickRock{
        border: double 2vw transparent;
        margin-bottom: 5vw; /* Adjusted margin for readability, change as needed */
        bottom:15vw;
    }

    .circleContainer{
        width: 100%;
    }

    #pickBtn{

        right: 2.5vw;
        bottom:2.5vw;
        width: 20vw;
        height: 20vw;
    }

    .pickIcon{
        margin-right:1vw;
        margin-top:2vw;
        width: 7.5vw;
        height: auto;
    }


    .displayRockIcon{
        width: 8vw;
        height: 8vw;
        margin-left:3.5vw;
        margin-top:4vw;
    }

    .displayPaperIcon, .displayScissorsIcon{
        width: 8vw;
        height: 10vw;
        margin-left:3vw;
        margin-top:3vw;
    }

    .userChoicePaper{
        border: double 3vw transparent;
    }

    .userChoiceRock, .userChoicePaper, .userChoiceScissors{
        border: double 3vw transparent;
        flex-direction: column;
    }

    .userChoiceScissors{
        border: double 3vw transparent;
    }

    #resultBox{
        width: 31vw;
        height: auto;
        left:10vw;
        top:30vw;
    }

    .userChoiceScissors > p, .userChoiceRock > p, .userChoicePaper > p{
        margin-top:12vw;
        font-size: 3vw;
        text-align: center;
    }


    

}

@media only screen and (min-width: 768px) {

    header{
        padding-top:5vw;
        width: 65vw;
        margin:0 auto;
        display: flex;
        justify-content: center;
    }
    .header-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:1vw 3vw 1vw 5vw;
        border:solid white 0.1vw;
        height: auto;
        width: 100%;
    }

    .header-left > ul > li{
        line-height: 2.2vw;
        font-size: 2.5vw;
        
    }

    .score-box{
        width: 10vw;
        padding:1.5vw;

    }

    .score-box > p{

        font-size: 1.5vw;

    }
    
    #score{
        font-size: 4vw;
        padding:0;
        margin:0;
    }

    
    #pickBox{
        margin:15vw auto;
    }

    .triImg{
        width: 30vw;
    }

    .pickCircle{
        width: 13vw;
        height: 13vw;

        z-index: 99;
    }

    #pickPaper{
        border: double 1.75vw transparent;
        margin-bottom: 5vw; /* Adjusted margin for readability, change as needed */
        bottom: 33vw;
        left: 28vw;
        
    }

    #pickScissors{
        border: double 1.75vw transparent;
        margin-bottom: 5vw; /* Adjusted margin for readability, change as needed */
        bottom: 33vw;
        right: 28vw;

    }

    #pickRock{
        border: double 1.75vw transparent;
        margin-bottom: 5vw; /* Adjusted margin for readability, change as needed */
        bottom:15vw;
    }

    .circleContainer{
        width: 100%;
    }

    #pickBtn{

        right: 2vw;
        bottom:2vw;
        width: 17vw;
        height: 17vw;
    }

    .pickIcon{
        width: 6vw;
        height: auto;
    }



    #resultBox{
        width: 31vw;
        height: auto;
        left:8vw;
        top:15vw;
    }


    .displayRockIcon{
        width: 7.5vw;
        height: 7.5vw;
        margin-left:3vw;
        margin-bottom:3vw;
    }

    .displayPaperIcon, .displayScissorsIcon{
        width: 7.5vw;
        height: 9vw;
    }

    .displayScissorsIcon{
        margin-left:4vw;
        margin-bottom:3vw;
    }

    .displayPaperIcon{

        margin-left:3vw;
        margin-bottom:2vw;
    }

    .userChoicePaper{
        border: double 3vw transparent;
    }

    .userChoiceRock, .userChoicePaper, .userChoiceScissors{
        border: double 3vw transparent;
        flex-direction: column-reverse;
        width: 15vw;
        height: 15vw;
    }

    .userChoiceScissors{
        border: double 3vw transparent;
    }

    #resultBox{
        width: 31vw;
        height: auto;
        left:10vw;
        top:15vw;
    }

    .userChoiceScissors > p, .userChoiceRock > p, .userChoicePaper > p{
        margin-bottom:8vw;
        font-size: 2.5vw;
        text-align: center;
    }


    

}

@media only screen and (min-width: 992px) {

    header{
        padding-top:2vw;
        width: 55vw;
        margin:0 auto;
        display: flex;
        justify-content: center;
    }
    .header-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:1vw 1vw 1vw 2vw;
        border:solid white 0.1vw;
        height: auto;
        width: 100%;
    }

    .header-left > ul > li{
        line-height: 1.75vw;
        font-size: 1.75vw;
        
    }

    .score-box{
        width: 7.5vw;
        padding:1.2vw;

    }

    .score-box > p{

        font-size: 1.2vw;

    }
    
    #score{
        font-size: 3vw;
        padding:0;
        margin:0;
    }

    #pickBox{
        margin:10vw auto;
    }

    .triImg{
        width: 25vw;
    }

    .pickCircle{
        width: 11vw;
        height: 11vw;

        z-index: 99;
    }

    #pickPaper{
        border: double 1.5vw transparent;
        margin-bottom: 5vw; /* Adjusted margin for readability, change as needed */
        bottom: 28vw;
        left: 32vw;
        
    }

    #pickScissors{
        border: double 1.5vw transparent;
        margin-bottom: 5vw; /* Adjusted margin for readability, change as needed */
        bottom: 28vw;
        right: 32vw;

    }

    #pickRock{
        border: double 1.5vw transparent;
        margin-bottom: 5vw; /* Adjusted margin for readability, change as needed */
        bottom:12vw;
    }

    .circleContainer{
        width: 100%;
    }

    #pickBtn{

        right: 1.5vw;
        bottom:1.5vw;
        width: 14vw;
        height: 14vw;
    }

    .pickIcon{
        margin-bottom:2vw;
        width: 4.5vw;
        height: auto;
    }



    #resultBox{
        width: 31vw;
        height: auto;
        left:8vw;
        top:15vw;
    }


    .displayRockIcon{
        width: 7.5vw;
        height: 7.5vw;
        margin-left:3vw;
        margin-bottom:3vw;
    }

    .displayPaperIcon, .displayScissorsIcon{
        width: 7.5vw;
        height: 9vw;
    }

    .displayScissorsIcon{
        margin-left:4vw;
        margin-bottom:3vw;
    }

    .displayPaperIcon{

        margin-left:3vw;
        margin-bottom:2vw;
    }

    .userChoicePaper{
        border: double 3vw transparent;
    }

    .userChoiceRock, .userChoicePaper, .userChoiceScissors{
        border: double 3vw transparent;
        flex-direction: column-reverse;
        width: 15vw;
        height: 15vw;
    }

    .userChoiceScissors{
        border: double 3vw transparent;
    }

    #resultBox{
        width: 31vw;
        height: auto;
        left:10vw;
        top:15vw;
    }

    .userChoiceScissors > p, .userChoiceRock > p, .userChoicePaper > p{
        margin-bottom:8vw;
        font-size: 2.5vw;
        text-align: center;
    }
    

}

@media only screen and (min-width: 1100px) {

    header{
        padding-top:2vw;
        width: 50vw;
        margin:0 auto;
        display: flex;
        justify-content: center;
    }
    .header-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:1vw 1vw 1vw 1.5vw;
        border:solid white 0.1vw;
        height: auto;
        width: 100%;
    }

    .header-left > ul > li{
        line-height: 1.5vw;
        font-size: 1.5vw;
        
    }

    .score-box{
        width: 6vw;
        padding:1.25vw;

    }

    .score-box > p{

        font-size: 1vw;

    }
    
    #score{
        font-size: 2.5vw;
        padding:0;
        margin:0;
    }


    #pickBox{
        margin:10vw auto;
    }

    .triImg{
        width: 18vw;
    }

    .pickCircle{
        width: 10vw;
        height: 10vw;

        z-index: 99;
    }

    #pickPaper{
        border: double 1.25vw transparent;
        margin-bottom: 5vw; /* Adjusted margin for readability, change as needed */
        bottom: 22vw;
        left: 33vw;
        
    }

    #pickScissors{
        border: double 1.25vw transparent;
        margin-bottom: 5vw; /* Adjusted margin for readability, change as needed */
        bottom: 22vw;
        right: 33vw;

    }

    #pickRock{
        border: double 1.25vw transparent;
        margin-bottom: 5vw; /* Adjusted margin for readability, change as needed */
        bottom:7.5vw;
    }

    .circleContainer{
        width: 100%;
    }

    #pickBtn{


        width: 13vw;
        height: 13vw;
    }

    .pickIcon{

        width: 4vw;
        height: auto;
    }



    #resultBox{
        width: 31vw;
        height: auto;
        left:8vw;
        top:15vw;
    }


    .displayRockIcon{
        width: 7.5vw;
        height: 7.5vw;
        margin-left:3vw;
        margin-bottom:3vw;
    }

    .displayPaperIcon, .displayScissorsIcon{
        width: 7.5vw;
        height: 9vw;
    }

    .displayScissorsIcon{
        margin-left:4vw;
        margin-bottom:3vw;
    }

    .displayPaperIcon{

        margin-left:3vw;
        margin-bottom:2vw;
    }

    .userChoicePaper{
        border: double 3vw transparent;
    }

    .userChoiceRock, .userChoicePaper, .userChoiceScissors{
        border: double 3vw transparent;
        flex-direction: column-reverse;
        width: 15vw;
        height: 15vw;
    }

    .userChoiceScissors{
        border: double 3vw transparent;
    }

    #resultBox{
        width: 31vw;
        height: auto;
        left:10vw;
        top:15vw;
    }

    .userChoiceScissors > p, .userChoiceRock > p, .userChoicePaper > p{
        margin-bottom:8vw;
        font-size: 2.5vw;
        text-align: center;
    }

    
    

}

@media only screen and (min-width: 1366px) {

    header{
        padding-top:2vw;
        width: 50vw;
        margin:0 auto;
        display: flex;
        justify-content: center;
    }
    .header-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:1vw 1.25vw 1vw 1.5vw;
        border:solid white 0.1vw;
        height: auto;
        width: 100%;
    }

    .header-left > ul > li{
        line-height: 1.5vw;
        font-size: 1.5vw;
        
    }

    .score-box{
        width: 6vw;
        padding:1.2vw;

    }

    .score-box > p{

        font-size: 1vw;

    }
    
    #score{
        font-size: 2.5vw;
        padding:0;
        margin:0;
    }

    #pickBox{
        margin:8vw auto;
    }

    .triImg{
        width: 15vw;
    }

    .pickCircle{
        width: 8vw;
        height: 8vw;

        z-index: 99;
    }

    #pickPaper{
        border: double 1vw transparent;
        margin-bottom: 5vw; /* Adjusted margin for readability, change as needed */
        bottom: 18vw;
        left: 37.5vw;
        
    }

    #pickScissors{
        border: double 1vw transparent;
        margin-bottom: 5vw; /* Adjusted margin for readability, change as needed */
        bottom: 18vw;
        right: 37.5vw;

    }

    #pickRock{
        border: double 1vw transparent;
        margin-bottom: 5vw; /* Adjusted margin for readability, change as needed */
        bottom:7.5vw;
    }

    .circleContainer{
        width: 100%;
    }

    #pickBtn{

        right:1vw;
        bottom:1vw;
        width: 10vw;
        height: 10vw;
    }

    .pickIcon{

        width: 3.5vw;
        height: auto;
    }


    #resultBox{
        width: 31vw;
        height: auto;
        left:8vw;
        top:10vw;
    }


    .displayRockIcon{
        width: 7.5vw;
        height: 7.5vw;
        margin-left:3vw;
        margin-bottom:3vw;
    }

    .displayPaperIcon, .displayScissorsIcon{
        width: 7.5vw;
        height: 9vw;
    }

    .displayScissorsIcon{
        margin-left:4vw;
        margin-bottom:3vw;
    }

    .displayPaperIcon{

        margin-left:3vw;
        margin-bottom:2vw;
    }

    .userChoicePaper{
        border: double 3vw transparent;
    }

    .userChoiceRock, .userChoicePaper, .userChoiceScissors{
        border: double 3vw transparent;
        flex-direction: column-reverse;
        width: 15vw;
        height: 15vw;
    }

    .userChoiceScissors{
        border: double 3vw transparent;
    }

    #resultBox{
        width: 31vw;
        height: auto;
        left:10vw;
        bottom:15vw;
    }

    .userChoiceScissors > p, .userChoiceRock > p, .userChoicePaper > p{
        margin-bottom:6vw;
        font-size: 2.5vw;
        text-align: center;
    }
    
    

}



